<!DOCTYPE html>
<html lang="en" ng-app='superheroApp'>
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller='SuperheroesController as vm'>
  <h2>Superhero Listing</h2>
  <input type="text" ng-model="vm.search">
  <p>User input: {{vm.search}}</p>
  <div ng-repeat="hero in vm.superheroes | filter:vm.search"
    ng-class="{'marvel' : hero.group === 'Marvel' , 'indpt': hero.group === 'Independent', 'DC': hero.group === 'DC'}">
    <p>{{$index + 1}}. {{hero.name}} - {{hero.number}}</p>
    <p>Affiliation: {{hero.group}} </p>
    <button ng-click="vm.viewImage[$index] = !vm.viewImage[$index]">Get Photo</button>
     <img ng-src='{{hero.img}}' ng-show="vm.viewImage[$index]">
  </div>

</body>

  <script src="app.js"></script>
</body>
</html>
